body{
    background-image: url(../images/simpsons_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

   
}
img{
    width: 80%;
    position: absolute;;
    margin-top:20px;
}

p{
    position: relative;
    margin: 0;
}
#boxbart{
    width: 1.5in;
    height: 1.5in;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxmaggie{
    width: 1.5in;
    height: 1.5in;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxlisa{
    width: 1.5in;
    height: 1.5in;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxned{
    width: 1.5in;
    height: 1.5in;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#bartAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    justify-content: right;
    font-weight: bold;
    background-color: lightslategray;
}
#maggieAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    background-color: lightslategray;
}
#lisaAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    background-color: lightslategray;
}
#nedAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    background-color: lightslategray;
}
