body{
    background-image: url(../images/simpsons_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Gochi Hand', cursive;
   
}
#logo{
    right:50px;
    width: 500px;
}
img{
    width: 75%;
    position: absolute;;
    margin-top:20px;
    background-color: blue;
    
}
p{
    position: relative;
    margin: 0;    
}
#boxbart{
    width: 1.5in;
    height: 1.5in;
    border: 2px;
    padding-bottom:30px;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxmaggie{
    width: 1.5in;
    height: 1.5in;
    border: 2px;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxlisa{
    width: 1.5in;
    height: 1.5in;
    border: 2px;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#boxned{
    width: 1.5in;
    height: 1.5in;
    border: 2px;
    border-style: solid;
    border-color: black;
    background: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#bartAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    justify-content: right;
    height: 20px;
}
#maggieAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    height: 20px;
}
#lisaAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    height: 20px;
}
#nedAP{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    height: 20px;
}
#line1{
    font-size: 10px;
    position: relative;
}
#line2{
    font-size: 10px;
    position: relative;
}
#resetbutton{
    visibility: hidden;
}
